.infoContact {
  max-width: 43%;
  @media screen and (max-width: $breakpoint-sm) {
    max-width: 100%;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    li {
      margin-bottom: 75px;
      display: flex;
      justify-content: center;
      @media screen and (max-width: $breakpoint-md) {
        margin-bottom: 20%;
      }
      @media screen and (max-width: $breakpoint-sm) {
        margin-bottom: 30px;
      }
    }
    @media screen and (max-width: $breakpoint-sm) {
      li:nth-child(4) {
        margin-bottom: 0;
      }
    }
  }
  .icon {
    margin-right: 22px;
  }
  a {
    color: var(--color-white);
  }
  font-weight: 600;
  font-size: 2rem;
  @media screen and (max-width: $breakpoint-md) {
    font-size: 1.8rem;
  }
  @media screen and (max-width: $breakpoint-sm) {
    font-size: 1.5rem;
  }
}
.footerContact {
  text-align: center;
  font-size: 0.875rem;
  margin-top: 84px;
  @media screen and (max-width: $breakpoint-sm) {
    margin-top: 20px;
  }
}
.buttonForm {
  background-color: transparent;
  border: none;
  padding: 17px 107px 17px 107px;

  color: var(--color-white);
  position: relative;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  @media screen and (max-width: $breakpoint-md) {
    padding: 13px 95px 13px 95px;
  }
  span {
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";

    position: absolute;

    top: 0;
    left: 0;
    width: 140%;
    height: 100%;
    background-color: var(--color-primary);
    transform: translateX(-64%);
    transition: all 0.4s ease-in-out;
  }

  &:hover:after {
    transform: translateX(0);
  }
}
