.grid {
  border: none;
  padding: 0;
}
.input {
  display: flex;
  flex-direction: column;
  margin-top: 47px;
}
.contenuContact {
  .wrapper {
    max-width: $breakpoint-extra;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-primary);
    font-weight: 500;
  }
}

.input__label {
  margin-bottom: 6px;
}
.input__element {
  background-color: var(--color-complementaire1-transparent);
  border-radius: 10px;
  border: solid 2px var(--color-white);
  height: 43px;
  width: 438px;
}
.input:nth-child(4) {
  margin-bottom: 90px;
  .input__element {
    height: 105px;
  }
}
