.heroProjets {
  .wrapper {
    max-width: $breakpoint-lg;
  }
}
.zoneSousTitreProjet {
  position: absolute;
  bottom: -123px;
  left: -200px;
  .ligneProjet {
    border: none;
    width: 435px;
    height: 4px;
    background-color: var(--color-primary);
  }
  h3 {
    text-align: center;
    font-weight: bold;
    color: var(--color-white);
    margin: 23px 0 23px 0;
  }
}

.flechesProjet {
  position: absolute;
  bottom: -40px;
  left: 270px;
  .fleche1 {
    position: absolute;
  }
  .fleche2 {
    right: -66px;
    position: absolute;
  }
  .icon--md {
    height: 2.2em;
    width: 1.9em;
  }
}
.iconesProjets {
  position: absolute;
  bottom: 60px;
  right: 235px;
  display: flex;
  .icon {
    padding: 16px 19px 16px 19px;
    background-color: var(--color-complementaire1);
    border-radius: 30px;
  }
  .icon:nth-child(1) {
    margin-right: 25px;
  }

  &.rpg {
    right: 370px;
    .icon:nth-child(2) {
      margin-right: 25px;
    }
  }
}
