/* ==========================================================================
   BODY / ELEMENT
   Le body permet d'initialiser les propriétés générales de la page.
   Les éléments de la page vont hérités des propriétés inscrite dans body
   ========================================================================== */

@function multiple-box-shadow($n) {
  $value: "#{random(2000)}px #{random(2000)}px #FFF";

  @for $i from 2 through $n {
    $value: "#{$value} , #{random(2000)}px #{random(3000)}px #FFF";
  }
  @return unquote($value);
}

$shadows-small: multiple-box-shadow(700);
$shadows-medium: multiple-box-shadow(200);
$shadows-big: multiple-box-shadow(100);

body {
  background: #121821;
  color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: var(--font-size-content);
  line-height: 1.43;
}
#stars {
  width: 1px;
  height: 1px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  box-shadow: $shadows-small;
  animation: animStar 60s linear infinite;

  &::after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 1px;
    height: 1px;
    background: transparent;
    box-shadow: $shadows-small;
    overflow: hidden;
  }
}

#stars2 {
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background: transparent;
  overflow: hidden;
  box-shadow: $shadows-medium;
  animation: animStar 40s linear infinite;

  &::after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 2px;
    height: 2px;
    overflow: hidden;
    background: transparent;
    box-shadow: $shadows-medium;
  }
}
#stars3 {
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: transparent;
  box-shadow: $shadows-big;
  overflow: hidden;
  animation: animStar 20s linear infinite;
  &::after {
    content: " ";
    position: absolute;
    top: 2000px;
    width: 3px;
    overflow: hidden;
    height: 3px;
    background: transparent;
    box-shadow: $shadows-big;
  }
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-1000px);
  }
}
