/* ==========================================================================
   COLORS / SETTINGS
   ========================================================================== */

:root {
  // Couleur de base
  --color-white: #fff;
  --color-black: #000;
  --color-white-transparent: rgba(255, 255, 255, 0.07);
  // Couleurs du projet
  --color-primary: #f05d5e;
  --color-primary-dark: #4b3b40;
  --color-primary-light: #907b82;
  --color-primary-transparent: rgba(240, 93, 94, 0.5);

  --color-complementaire1: #14213d;
  --color-complementaire1-transparent: rgba(20, 33, 61, 0.5);
  --color-complementaire1-light: #f5f3ef;

  --color-complementaire2: #313f46;
  --color-complementaire2-dark: #232f35;
  --color-complementaire2-light: #485962;

  --color-complementaire3: #304121;
  --color-complementaire3-dark: #202d16;
  --color-complementaire3-light: #515f45;

  --color-accent: #f0544f;
  --color-accent-dark: #db3c37;
  --color-accent-light: #fd726e;

  --color-bg-primary: #f0ebe3;

  --color-ligne-header: #c6b8b7;
}
